* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar--height: 5px;
}

#navbar {
    display: flex;
    align-items: center;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#navbar .img2 {
    position: relative;
    height: 33px;
}


#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 28px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

.home {
    display: flex;
    flex-direction: column;
    padding: 2px 400px;
    height: 522px;
    justify-content: center;
    align-items: center;
}

.home p,
h1 {
    padding: 0 0 0 60px;
    color: black;
    text-align: center;
    font-size: 1.8 rem;

}

.home::before {
    content: "";
    position: absolute;
    background: url('../bg3.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.80;
}

.home h1 {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h-primary ,p{
    font-size: 1.4rem;
    color:whitesmoke;
}

.services {
    margin: 22px;
    display: flex;
    padding: 0 0 0 22px;

}

.services .box {
    border: 2px solid blue;
    height: 260px;
    width: 213px;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    padding: 48px;
    margin: 3px 33px;
    background-color:bisque;
}

.services .box .img2 {
    width: 213px;
    height: 102px;
}

.client-section {
    height: 300px;
    background: url('../bg4.jpg');
}

.client-section::before {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}

.clients .img2 {
    height: 100px;
    width: 150px;
    margin: 29px;
    padding: 40px;
    background-repeat: no-repeat;

}

.contact {
    position: relative;

}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('../contact.jpg');
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: bottom 56px;
}

.contact-box textarea {
    width: 100%;
    padding: 0.5rem;
}

.contact-box form,
label {
    width: 50%;
    font-size: 1.2rem;

}

footer {
    background-color: black;
    color: white;
    padding: 9px 40px;
}

.h-primary,
h1 {
    font-size: 1.9 rem;
    /* padding: 0 0 0 70px;*/
}

.h-secondary {
    font-size: 2.8rem;
    padding: 10x;
}

 .btn{
    padding: 0 0 0 10px;
    width: 105px;
    height: 30px;
    border-radius: 20px;
    margin: 8px;
    font-size: 1.5 rem;
    cursor: pointer;

}

.center {
    text-align: center;
}